$font-family     : Helvetica, Arial, sans-serif;
$background-web  : #f8f8f8;
$body-mobile     : #eaeaea;
$primary-color   : #E28B00;
$secondary-color : #449ACC;
$text-color      : #333333;
$error-text      : #D0021B;
$error-block     : #FCD4D9;
$link-color      : $secondary-color;
$border-color    : #F2F2F2;

$primary-button : $secondary-color;
